<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css1/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css1/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">

    <title>intouch</title>
</head>
<body class="wrapper-body">

    
    <div class="container-fluid wrapper-top">
        <div class="row">
            <div class="col-3  pt-3 pb-5">
                <img class="logo" src="./img/int.png">
            </div>
            <div class="col-8">
                <div  class="contentdiv">
                    <h2></h2>
                    <p>Contact : <i> 0496-2938152, 9895528152</i> </p>
                    <p>Home Care : <i>7902628152</i></p>
                    <p>Website :<i> www.intouchphysio.in</i></p>
                    <p>E-Mail : <i>intouchphysio@yahoo.com</i></p>
                </div>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>

    <div class="container-fluid wrapper-top pt-4">
        <div class="row">
            <div class="col-md-12">
                <center>
                    @*<p class="text-danger">INTOUCH</p>*@
                </center>
             </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js1/jquery-3.2.1.slim.min.js"></script>
    <script src="js1/popper.min.js"></script>
    <script src="js1/bootstrap.min.js"></script>

</body>
</html>