<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css1/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css1/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">

    <title>intouch</title>
</head>
<body class="wrapper-body">

    
    <div class="container-fluid wrapper-top">
        <div class="row">
            <div class="4 pt-3 pb-5">
                <img class="logo" src="./img/int.png">
            </div>
            <div class="8  pb-5">
                <div class="contant">
                    <h2>INTOUCH</h2>
                    <p>Address: Demo</p>
                    <p>E-mail : Demo</p>
                    <p>City &nbsp;&nbsp;&nbsp;&nbsp; : Demo</p>
                    <p>Mobile &nbsp;&nbsp;: +0123456789</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>

    <div class="container-fluid wrapper-top pt-4">
        <div class="row">
            <div class="col-md-12">
                <center>
                    <p class="text-white">INTOUCH</p>
                </center>
             </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js1/jquery-3.2.1.slim.min.js"></script>
    <script src="js1/popper.min.js"></script>
    <script src="js1/bootstrap.min.js"></script>

</body>
</html>