@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #f8f8f8;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #145978;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
    background-color: #1b87b8;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}





.tg {
    font-size: 30px;
    font-weight: 500;
    position: relative;
    left: 13px;
}


a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

#sidebar .nav a {
    background: none;
    color: #CFD8DC;
    font-size: 14px;
    padding: 1px 58px;
    position: relative;
    bottom: 25px;
    left: -22px;
}

.x1 {
    box-shadow: 1px 1px #1982b1;
    width: 249px;
    position: absolute;
    left: 20px;
    z-index: 9999;
    bottom: -15px;
}

.x2 {
    box-shadow: 1px 1px #1982b1;
    width: 249px;
    position: absolute;
    left: 20px;
    z-index: 9999;
    bottom: -28px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 16px;
}


.wr{
	width: 16px;
}

.navbar-default {
    background-color: #f8f8f8;
    box-shadow: 1px 1px #c3c3c3;
    z-index: 9999;
}

.x {
    background-color:#31a1d1; 
    position: relative;
    z-index: 9999;
    bottom: 32px;
}
.logo{
	width: 80%;
}

#country {
    width: 233px;
    height: 35px;
    background-color: #efefef;
    color: grey;
    border: 1px solid #d2d2d2;
}


.wrapper-payment {
    font-size: 18px;
    font-weight: 400;
    color: black;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    color: #818181;
}


button, input{
  width: 233px;
    height: 35px;
    background-color: #efefef;
    color: grey;
 border: 1px solid #d2d2d2;
}

.ddlStyle {
    width: 233px;
    height: 35px;
    background-color: #efefef;
    color: grey;
    border: 1px solid #d2d2d2;
}

.wif{
  width: 10px;
}

.wrapper-radio ul li {
    list-style: none;
    display: flex;
    margin-left: 10px;
    float: left;
    font-size: 13px;
    position: relative;
    left: -50px;
    color: #000;
}

.r {
    width: 12px;
    position: absolute;
    bottom: -7px;
}

.wrapper-bottom{
  background-color: #1b87b8;
  position: absolute;

  top: 100%;
}

.wrapper-bottom p {
    color: #fff;
    /* text-align: center; */
    margin-left: 50%;
    margin-right: 27%;
    font-size: 15px;
}

.wrapper-bottom p:hover{
  color: #efefef61;
}


.btn, .submit, .btn-primary, .close {
    width: 160px;
    border-radius: 30px;
    background-color: #2298ca !important;
    color: #fff;
}

.btn:hover{
  background-color: #166586;
}



.wrapper-u{
  display: flex;
}

.wrapper-u p {
    margin-left: 13px;
}
.ui{
  width: 15px;
}

.back {
    /* width: 24px; */
    /* height: 26px; */
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 54px;
}


.wrapper-w {
    width: 95%;
    position: absolute;
    right: 72px;

}