

@page

@model IntouchBilling.Pages.BillingModel
@{
    Layout = "_Layout";
}
<form class="form-horizontal" enctype="multipart/form-data" method="post" name="myform" id="myform">
    <div class="container-fluid pt-5 pl-5 wrapper-w">
        @*<div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <label for="Category">Category</label><br>
                    <select id="Category" name="Category" class="ddlStyle" data-val="true" data-val-required="Category is required">
                        <option value="0" disabled selected>--select category--</option>
                        <option value="Electrotherapy">Electrotherapy</option>
                        <option value="Orthopedic Physiotherapy">Orthopedic Physiotherapy</option>
                        <option value="Pediatric Physiotherapy">Pediatric Physiotherapy</option>
                        <option value="Speech Therapy">Speech Therapy</option>
                    </select><br>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>

                <div class="col-md-3">
                    <label for="CustomerName">Customer Name</label><br>
                    <input type="text" name="CustomerName" id="CustomerName" data-val="true" data-val-required="Name is required">
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>

                <div class="col-md-3">
                    <label for="Mobile">Mobile</label><br>
                    <input type="text" name="Mobile" id="Mobile" data-val="true" data-val-required="Mobile is required">
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="col-md-3">


                </div>
                </br>

                <div class="col-md-3">
                    <label for="Session" style="color: #000;">Session</label><br>
                    <select id="Session" name="Session" class="ddlStyle" data-val="true" data-val-required="Session is required">
                        <option value="0" disabled selected>--select session--</option>
                        <option value="Session 1">Session 1</option>
                        <option value="Session 2">Session 2</option>
                        <option value="Session 3">Session 3</option>
                        <option value="Session 4">Session 4</option>
                        <option value="Session 5">Session 5</option>
                    </select><br>
                    <span asp-validation-for="Session" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label for="Amount">Amount</label><br>
                    <input type="number" name="Amount" id="Amount" data-val="true" data-val-required="Amount is required">
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>

                <div class="col-md-3">
                    <label for="Status">Status</label><br>
                    <select id="Status" name="Status" class="ddlStyle">
                        <option value="Paid">Paid</option>
                        <option value="Pending">Pending</option>
                    </select><br>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>

            </div>



        </div>

        <div class="container wrapper-radio pt-3">
            <div class="row">
                <div class="col-md-12">
                    <p class="wrapper-payment">Payment Mode</p>

                    <ul style="padding-left: 40px;" >
                        <li>  <input class="r" type="radio" id="paymentModeCash" name="PaymentMode" value="Cash" data-val="true" data-val-required="Payment Mode is required">&nbsp; &nbsp; &nbsp; &nbsp;Cash</li></a>
                        <li>   <input class="r" type="radio" id="paymentModeCard" name="PaymentMode" value="Card">&nbsp; &nbsp; &nbsp; &nbsp;Card</li></a>
                        <li>   <input class="r" type="radio" id="paymentModeCheque" name="PaymentMode" value="Cheque">&nbsp; &nbsp; &nbsp; &nbsp;Cheque</li></a>
                        <li>   <input class="r" type="radio" id="paymentModeOnline" name="PaymentMode" value="Online">&nbsp; &nbsp; &nbsp; &nbsp;Online</li></a>

                    </ul><br>
                    <span asp-validation-for="PaymentMode" class="text-danger"></span>
                    <div class="pt-2">
                        <a href=""><button class="submit">Save</button></a>&nbsp; &nbsp;
                        <a href=""><button class="btnCls" id="resetBtn">Cancel</button></a>
                    </div>

                </div>

            </div>


        </div>

    </div>
</form>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    
    $(document).ready(function () {
        $(function () {
            $('#myform').on('submit', function (e) {
               // e.preventDefault();
            });
        });
        $("#resetBtn").click(function () {
            $("#CustomerName").val("");
            $("#Category").val(0);
            $("#Mobile").val("");
            $("#Session").val(0);
            $("#Amount").val("");
            $("#Status").val(0);
            $("#paymentModeCash").prop("checked", false);
            $("#paymentModeCard").prop("checked", false);
            $("#paymentModeCheque").prop("checked", false);
            $("#paymentModeOnline").prop("checked", false);
        });
    });
    
</script >