@page
@model IntouchBilling.Pages.LoginModel
@{
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="~/css/login-style.css" rel="stylesheet" />
    <title>Log In</title>
</head>
<body class="login">



    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="./img/intouch.png" id="icon" alt="User Icon" />
            </div>
            @Model.Message
            <!-- Login Form -->
            <form method="post">
                <div>
                    <input type="text" id="username" class="fadeIn third" name="Username" placeholder="Username"><br/>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="pt-2">
                    <input type="password" id="password" class="fadeIn third passwordstyle" name="Password" placeholder="Password"><br />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="pt-2">
                    <input type="submit" class="fadeIn fourth" value="Log In"> 
                </div>
            </form>

            <!-- Remind Passowrd -->
            <!--<div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>-->

        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>




</body>
</html>